# Slack Incoming Webhook 
SLACK_WEBHOOK_URL= 

# interval (seconds)
CHECK_INTERVAL_SEC=5

# Timeouts (milliseconds)
NAVIGATION_TIMEOUT_MS=10000
SLOW_THRESHOLD_MS=3000

# Headless true/ false
HEADLESS=true

# Always take screenshots even when OK
ALWAYS_SCREENSHOT=false

# Send a slack alert even when OK
NOTIFY_ON_OK=true
